bin/
obj/
lib/
.ionide/
.vscode/

*.nupkg

src/IPlot.Plotly/Elements/
src/IPlot.Plotly/Props/
src/IPlot.HighCharts/Elements/
src/IPlot.HighCharts/Props/

tools/GenApi.Plotly/Plotly.Doc.json
tools/GenApi.Plotly/Plotly.Layout.json
tools/GenApi.HighCharts/HighCharts.Doc.json

push.cmd